{% extends 'base.html' %}
{% load static %}

{% block jumbotron %}
	<h1>{{ current_app.name }}</h1>
	<p class="lead">{{ current_app.description|safe }}</p>
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<table id="passwordManagerTable" class="table table-striped">
				{% include 'password_manager/table.html' %}
			</table>
		</div>
	</div>

	<hr>

	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<a id="addNewPassword" class="btn btn-primary" data-toggle="modal" data-target="#formModal" href="#">Add New Password</a>
		</div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div id="modalContent" class="modal-dialog" role="document">
			
		</div>
	</div>



{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{% static 'js/HomePage/csrf_library.js' %}"></script>
<script type="text/javascript">
	'use strict';
	$(document).ready(function() {

		// get new password form
		$('#addNewPassword').on('click', function(e){
			e.preventDefault();
			$.getJSON("{% url 'password_manager:create_password' %}", function(data) {
				$('#modalContent').html(data.form_template);
			});
		})


		// get edit password form
		$('#passwordManagerTable').on('click', '.edit', function(e){
			e.preventDefault();
			$.getJSON("{% url 'password_manager:edit_password' password_pk=12345 %}".replace(/12345/, this.dataset.id.toString()), function(data) {
				$('#modalContent').html(data.form_template);
				$('#id_login_password').trigger('keyup');
			});
		});


		// delete password entry
		let csrftoken = csrfLibrary.getCookie('csrftoken');

		$('#passwordManagerTable').on('click', '.delete', function(e){
			$.ajax({
				url: "{% url 'password_manager:delete_password' %}",
				type: 'POST',
				data: JSON.stringify({'id': this.dataset.id}),
				processData: false,
				contentType: false,
				cache: false,
				beforeSend: function (xhr, settings) {
					$("body").css("cursor", "wait");
					if (!csrfLibrary.csrfSafeMethod(settings.type) && !this.crossDomain) {
						xhr.setRequestHeader("X-CSRFToken", csrftoken);
					}
				},
				success: function(data) {
					$('#passwordManagerTable').html(data.table_template);
				},
				error: function() {
					console.log('AJAX ERROR');
				},
				complete: function() {
					$("body").css("cursor", "default");
				}
			});
		});


		// check password

		$('#formModal').on('keyup', '#id_login_password', function(){
			$.ajax({
				url: "{% url 'password_manager:check_password' %}",
				type: 'POST',
				data: JSON.stringify({'password': $(this).val()}),
				processData: false,
				contentType: false,
				cache: false,
				beforeSend: function (xhr, settings) {
					$("body").css("cursor", "wait");
					if (!csrfLibrary.csrfSafeMethod(settings.type) && !this.crossDomain) {
						xhr.setRequestHeader("X-CSRFToken", csrftoken);
					}
				},
				success: function(data) {
					$('#check_password_container').html(data.password_template);
				},
				error: function() {
					console.log('AJAX ERROR');
				},
				complete: function() {
					$("body").css("cursor", "default");
				}
			});
		});
	})
</script>
{% endblock %}
