{% if bits_of_entropy %}
	<div class="progress">
		<div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="{{ progress_bar_percent }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress_bar_percent }}%"><b>{{ password_strength }}</b>
		<span class="sr-only">{{ progress_bar_percent }}% Complete (success)</span>
		</div>
	</div>

	<p><b>Bits of entropy: {{ bits_of_entropy }}</b></p>
{% endif%}

{% if annotations %}
	<p><b>Annotation:</b></p>
	{% for annotation in annotations %}
		<p class="text-danger">{{ forloop.counter }}. {{ annotation }}</p>
	{% endfor %}
{% endif %}
